<form action="/bingoChange">
    <input name="bingoId" placeholder="{{bingoId}}" value="{{bingoId}}" hidden>
    Название бинго:
    <input name="bingoName" placeholder="{{{bingoName}}}" value="{{{bingoName}}}">
    <br>
    Слова:
    <br>
    <textarea name="bingoWords" style="width:80%" rows="10">{{bingoWords}}</textarea>
    <br>
    <button type="submit">Сохранить</button>
    <button type="submit" formaction="/deleteBingo" style="color:red">Удалить</button>
</form>