<form action="/bingoChange">
    <input name="bingoId" placeholder="{{bingoId}}" value="{{bingoId}}" hidden>
    <input name="bingoName" style="padding-left:20px" placeholder="{{bingoName}}" value="{{bingoName}}">
    <br>
    <textarea name="bingoWords" style="width:80%; padding-left:20px">{{bingoWords}}</textarea>
    <br>
    <button type="submit" style="padding-left:20px">Сохранить</button>
</form>