<p>{{bingoName}}</p>
<form action="/bingoChange">
    <input name="bingoId" placeholder="{{bingoId}}" value="{{bingoId}}" hidden>
    <input name="bingoName" placeholder="{{bingoName}}" value="{{bingoName}}">
    <textarea name="bingoWords">{{bingoWords}}</textarea>
    <button type="submit">Сохранить</button>
</form>