<form action="/bingoChange">
    <input name="bingoId" placeholder="{{bingoId}}" value="{{bingoId}}" hidden>
    <input name="bingoName" placeholder="{{bingoName}}" value="{{bingoName}}">
    <br>
    <textarea name="bingoWords" style="width:100%">{{bingoWords}}</textarea>
    <br>
    <button type="submit">Сохранить</button>
</form>